@model Country;
<div class="row">
    <div class="col-12">
        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>

            <dt>Code</dt>
            <dd>@Model.Code</dd>
        </dl>

    </div>
</div>

